.mainbox {

}

.mycroftext-box {
    spacing: 1px;
    min-width: 25em;
    word-wrap: normal;
	padding:0px;
}

.mycroftext-box-label {
    padding-top: 1em;
    text-align: center;
	word-wrap: normal;
}

.mycroftext-box-anim {
background-image: url("icons/mycbw.png");
background-size: 120px 80px;
padding:20px;
word-wrap: normal;
}

.mycroftext-activities {
    border: 1px solid #222;
}

.mycroftext-scrollbox {
    max-height: 0px;
    overflow-x: none;
    overflow-y: none;
word-wrap: normal;
}

.cell-label {
    padding: 1px;
    padding-right: 15px;
    color: #aaa;
}

.summary-label {
    color: #aaa;
    text-align: right;
}

.cell-button {
    padding: 3px 5px;
}

.querybox {
background-color: #222;
position: absolute; 
max-width: 100px;
max-height: 300px;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.queryout {
padding-top:30px;
position: absolute;
margin-top: 2px;
margin-bottom: 2px;
max-width: 100%;
height: 30px;
max-height: 100px;
text-align: center;
transition: 100ms linear;
}

.queryin {
margin-top: 2px;
margin-bottom: 2px;
max-width: 100%;
height: 40px;
max-height: 100px;
text-align: center;
transition: 100ms linear;
}

.clickable:hover {
    background-color: #4c4c4c;
}

.clickable:hover .cell-label {
    color: #fff;
}

.panel-box {
    spacing: 1px;
}

.status {
    position: fixed;
	top:2%; right:2%;
    background-color: #222;
	background-size: 80px 60px;
	text-align: center;
}

.statusRed {
    position: fixed;
	top:2%; right:2%;
    background-color: #C91616;
	background-size: 80px 60px;
	text-align: center;
}

.myc-icon {
    background-image: url("icons/mycicon.png");
    background-size: 16px;
    height: 18px;
    width: 24px;
}
